.top-nav {
    width:100%;
	height:46px;
	background:transparent url(../images/menubg.png) top left no-repeat;
}

.top-nav .yuimenubar {
    border:0;
    background:none;
}

.top-nav .yuimenubar .yuimenubaritem,
.top-nav .yuimenubar .yuimenubaritemlabel {
    border:0;
}

.top-nav .yuimenubar .yuimenubaritemlabel {
    color:#282828;
    font-size:16px;
}

.top-nav.yui-skin-sam .yuimenubarnav .bd  ul li a{
    background:transparent url(../images/separator.png) top right no-repeat;
}

.top-nav.yui-skin-sam .yuimenubarnav .yuimenubaritem-selected {
    background:transparent url(../images/menuhover.png) top left repeat-x;
}

.top-nav.yui-skin-sam .yuimenubarnav .yuimenubaritemlabel-selected {
    margin-left:0;
    border:0;
}

.top-nav.yui-skin-sam .yuimenubarnav .bd {
	height:46px;
	padding:0px 0px 0px 0px;
}

.top-nav.yui-skin-sam .yuimenubarnav .bd  ul{
   padding:4px 15px;
}

.top-nav.yui-skin-sam .yuimenubarnav .bd  ul li{
    height:32px;
	padding:3px 0px 3px 5px;
}

.top-nav.yui-skin-sam .yuimenubarnav .yuimenuitemlabel {
    color:#ffffff;
}

.top-nav.yui-skin-sam .yuimenubarnav .yuimenuitem-selected {
    /**background:#480101; **/
}

/**top navigation submenu**/


.top-nav.yui-skin-sam .yuimenubarnav .bd  ul ul {
   background:#ffffff url(../images/submenubg.jpg) top left repeat-x;
   padding:0px;
   height:100%;
}

.top-nav.yui-skin-sam .yuimenubarnav .bd  ul ul{
  padding:0px;
}

.top-nav.yui-skin-sam .yuimenubarnav .bd  ul ul li {
   padding:5px;
   height:12px;
}

.top-nav.yui-skin-sam .yuimenubarnav .bd  ul ul li a{
    background:none;
	color:#3c3c3c;
}

.top-nav.yui-skin-sam .yuimenubarnav .bd  ul ul li a:hover{
    background:none;
	color:#447ec2;
}

.top-nav.yui-skin-sam .yuimenubarnav  ul ul  .yuimenubaritem-selected{
    background:none;
}




/****************  sidenav  ***********************/

#leftcol .children-only {
    padding-bottom:10px;
}

.children-only ul,
.children-only ul li {
    list-style:none;
    padding:0;
    margin:0;
}

.children-only ul li {
    padding:3px 0 3px 16px;
    background:url(../images/nbul.gif) 0 50% no-repeat;
}

#footer #navmod{
    background:url(../images/footerdivider.jpg) top left no-repeat;
	margin-top:10px;
	height:90px;
}

#navmod .top-nav{
  background:none;
}

#navmod .top-nav ul{
  margin-top:5px;
}

#navmod .top-nav li{
 list-style-type:none;
}

#navmod .top-nav li a{
  font-family:Trebuchet MS, Arial;
  color:#3c3c3c;
  font-size:10px;
  text-transform:uppercase;
}

#navmod .top-nav li.current a{
  color:#908b8b;
}
