#banner{
  margin:10px 0px 0px 20px;
  border:5px solid #ffffff;
  width:940px;
  height:270px;
}

#banner h2, #banner h1, #banner .bodycopy, #banner .prev_slide,#banner .pause_slide, #banner .next_slide, #banner .play_slide{
  display:none;
}

#banner li{
  list-style:none;
}

#banner .slideshow{
  width:940px;
  height:270px;
}

#banner .slideshow-frame{
   margin:0px;
}

#banner .slideshow-container{
   width:940px;
   height:270px;
}

#banner .slideshow-buttons{
   position:absolute;
   top:25px;
   right:12px;
   z-index:1000;
   padding:0px 10px;
}

.slideshow-pagination a.slide-page-link{
   background:#FFFFFF;
   color:#000000;
   margin:3px 2px;
   padding:2px 6px;
   text-align:center;
}
.slideshow-pagination a.current{
    background:#e0c89a;
}

